/* CSS declarations go here */
svg {
  max-height: calc(~"100vh - 16px");

  path.box {
    fill: #d8d8eb;
  }

  g.objects {
    use {
      fill: #855ce3;
    }

    use.handled {
      fill-opacity: 0;
      stroke: #855ce3;
    }
  }

}